In [2]:
#add two numbers

num1=int(input("Enter first number:"))
num2=int(input("Enter sceond number"))

num3=num1+num2

print("Add of two number is:",num3)

Enter first number: 10
Enter sceond number 20

Add of two number is: 30

In [3]:
#square root of a number

num=float(input("Enter a number"))
sr=num**(1/2)
print(sr)

Enter a number 64

8.0

In [4]:
#solution :-2
import math
num=float(input("Enter a number:"))

sr=math.sqrt(num)
print(sr)

Enter a number: 100

10.0

In [6]:
#area of a triangle
height=float(input("Enter the height of the triangle:"))
base=float(input("Enter the base of the triangle:"))

area= (1/2)*height*base

print(area)

Enter the height of the triangle: 12.5
Enter the base of the triangle: 5.5

34.375

In [7]:
#swap two number
num1=int(input("Enter a number"))
num2=int(input("Enter the Sceond number"))
temp=num1
num1=num2
num2=temp
print(num1)
print(num2)

Enter a number 10
Enter the Sceond number 20

20
10

In [10]:
#swap number without any extra variable
num1=int(input("enter first number"))
num2=int(input("Enter second number"))
num1=num1+num2
num2=num1-num2
num1=num1-num2
print(num1)
print(num2)

enter first number 10
Enter second number 20

20
10

In [11]:
x=13
y=20
x,y=y,x
print(x,y)

20 13

In [16]:
#convert KM to miles

km=float(input("Enter the KM to calculate"))
miles=km*0.62175
print(km," km convert to",miles,"Miles")

Enter the KM to calculate 10

10.0  km convert to 6.2175 Miles

In [21]:
#check Number is positive,negative or zero
num=float(input("Enter a number"))
if(num==0):
    print("Number is zero")
elif(num<0):
    print("Number is negative")
else:
    print("Number is positive")

Enter a number 25

Number is positive

In [23]:
#even or odd
num=int(input("Enter a number"))
if(num%2==0):
    print("number is even")
else:
    print("Number is odd")

Enter a number 10

Number is odd

In [30]:
year=int(input("Enter a year:"))
if(year%4==0 and year%100!=0):
    print("Leap year")
#elif(year%400==0 and year%100==0):
    #print("leap year")
else:
    print("not leap year")

Enter a year: 2015

not leap year

In [36]:
#find largest number among three number
num1=int(input("Enter a number"))
num2=int(input("Enter 2nd number:"))
num3=int(input("Enter 3rd number:"))
if(num1>num2) and (num1>num3):
    print(num1,"is largest")
elif(num2>num1) and (num2>num3):
    print(num2,"is largest")
else:
    print(num3,"is largest")

Enter a number 30
Enter 2nd number: 20
Enter 3rd number: 50

50 is largest

In [7]:
arr=[5,6,3,4,9,7]
sort_arr=arr.sort()
print(sort_arr)

None

In [5]:
arr=[23,42,5,6,78,9]
min=arr[0]
for i in range(1,len(arr)):
    if(arr[i]<min):
        min=arr[i]
print(min)

5

In [19]:
n=6
for i in range(n):
    for j in range(i,n):
        print('',end=' ')
    for j in range(i+1):
        print('*',end='')
    print()

      *
     **
    ***
   ****
  *****
 ******

In [20]:
n=6
for i in range(n):
    for j in range(i+1):
        print('',end='')
    for j in range(i,n):
        print('*',end='')
    print()

******
*****
****
***
**
*

In [34]:
n=5
for i in range(n):
    for j in range(i):
        print(' ',end='')
    for j in range(i,n-1):
        print('*',end='')
    for j in range(i,n):
        print('*',end='')
    print()

*********
 *******
  *****
   ***
    *

In [49]:
n=5
for i in range(n):
    for j in range(i,n):
        print('*',end='')
    for j in range(i,n):
        print('',end='')
    for j in range(i,n+1):
        print('*',end='')
    print()

***********
*********
*******
*****
***

In [1]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [17]:
list=[1,2,3,4,5,6,7,8,9]
sum=0
for i in list:
    sum=sum+i
    i+=1
print(sum)

45

In [10]:
string="Anirudh Gupta"
for i in string[::-1]:
    print(i,end=' ')

a t p u G   h d u r i n A

In [16]:
n=int(input("Enter a number"))
fact=1
for i in range(1,n+1):
    fact=fact*i
    i+=1
print(fact)

Enter a number 5

120

In [20]:
n=int(input("enter the number"))
mul=1
for i in range(1,11):
    mul=n*i
    print(mul)

enter the number 5

5
10
15
20
25
30
35
40
45
50

In [25]:
number=int(input("Enter a number"))
if(number%2==0):
    print(number,": is even")
else:
    print(number,":number is odd")

Enter a number 09

9 :number is odd

In [27]:
for i in range(1,6):
    i=i**2
    print(i)

1
4
9
16
25

In [32]:
string="Anirudha"
count=0
for i in string:
    count+=1
print(count)

8

In [33]:
list=[90,32,45,67,21]
count=0
sum=0
avg=0.0
for i in list:
    count+=1
    sum=sum+i
    avg=sum/count
print(avg)

51.0

In [42]:
n=5
fibo=[0,1]
if(n==0):
    print(0)
elif(n==1):
    print(1)
else:
    for i in range(2,n):
        fibo.append(fibo[-1]+fibo[-2])
print(fibo)

[0, 1, 1, 2, 3]

In [5]:
string="Ani rudha "
s=string.replace(" ","")
print(s)

Anirudha

In [7]:
string=input("Enter a string:")
rev_string=string[::-1]
if(rev_string==string):
    print("Parimdrom")
else:
    print("Palimdrom not")

Enter a string: iammai

Parimdrom

In [9]:
list=[1,2,3,4,5,5,3,2,5]
my_list=set(list)
if(len(list)!=len(my_list)):
    print("duplicate")
else:
    print("Not Duplicate")

duplicate

In [15]:
list=[1,2,3,2,1,5,6,7]
duplicate=[]
unduplicate=[]
for i in list:
    if i not in duplicate:
        duplicate.append(i)
    elif i not in unduplicate:
        unduplicate.append(i)
if(duplicate==unduplicate):
    print("Not Duplicate")
else:
    print("Duplicate")

Duplicate

In [27]:
u=int(input("Enter a range:"))
for n in range(1,u+1):
    if n>1:
        for i in range(2,n):
            if(n%i==0):
                break
        else:
            print(n)

Enter a range: 9

2
3
5
7

In [28]:
string="AnirudhaGupta"
vowel="aeiouAEIOU"
count=sum(string.count(vowel) for vowel in vowel)
print(count)

6

In [33]:
string="AnirudhaGupta"
vowel=set("aeiouAEIOU")
count=0
for alphabet in string:
    if alphabet in vowel:
        count+=1
print(count)

6

In [39]:
year=int(input("Enter a year"))
if(year%100==0 and year%400==0):
    print("leap year")
elif(year%100!=0 and year%4==0):
    print("leap year")
else:
    print("Not leap year")

Enter a year 1780

leap year

In [8]:
string="AniinA"
rev_string=[]
for i in string[::-1]:
    rev_string.append(i)
str=''.join(rev_string)
if(string!=str):
    print("Not parimdrom")
else:
    print("palimdrom")

palimdrom

In [9]:
string="Anirudha"
x=list(string)
print(x)

['A', 'n', 'i', 'r', 'u', 'd', 'h', 'a']

In [18]:
arr=[10,20,20,5,10,8,20,20]
duplicate_arr=[]
n=len(arr)
for i in range(n):
    for j in range(i+1,n-1):
        if (arr[i]==arr[j]):
            duplicate_arr.append(arr[i])
print(duplicate_arr)
m=len(duplicate_arr)
for i in range(m):
    count=0
    for j in range(i+1,m-1):
        if(duplicate_arr[i]==duplicate_arr[j]):
            count=count+1
        if(count>=1):
            print("Duplicate element is:",duplicate_arr[j],"Count of Duplicates are:",count)

[10, 20, 20, 20]
Duplicate element is: 20 Count of Duplicates are: 1